<html>
<head>
	<title>Hello, Rails!</title>
</head>
<body>
	<h1>Hello from Rails!</h1>
	<p>
		It is now <%= @time %>
	</p>
	<ul>
		<li>Addition: <%= 1+2 %> </li>
		<li>Concatenation: <%= "cow" + "boy" %> </li>
		<li>Time in one hour: <%= 1.hour.from_now %> </li>
	</ul>
	<% 3.times do -%>
	Ho!<br/>
	<% end -%>
	Merry Christmas!<br/>

	<% 3.downto(1) do |count| -%>
	<%= count %>...<br/>
	<% end -%>
	Lift off!<br />

	Email: <%= h("Ann & Bill <frasers@isp.email>") %>
	
	<p>
		<!-- a href not recommended --> 
		Say <a href="/say/goodbye">Goodbye</a> <br/>
		Time to say
		 <%= link_to "Goodbye!", :action => "goodbye" %>
	</p>
	
</body>
</html>
